@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

body {
    background: #1f242d;
}

header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}

h1 a {
    text-decoration: none;
    letter-spacing: 2px;
    padding-left: 15px;
    font-size: 32px;
    color: white;
    transition: 0.6;
}

.navbar {
    padding-left: 60em;

}

.navbar a {
    text-decoration: none;
    padding-left: 16px;
    font-size: 16px;
    color: white;
    transition: 0.3s;
}

.navbar a:hover,
h1 a:hover {
    color: #0ef;
}

h3 {
    color: white;
    letter-spacing: 1px;


}