/* Import een font van google*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*Past regels aan voor hele document*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*Geeft het document kleur*/
body {
    background: #081b29;
    color: #ededed;
}

/*Geeft de regels voor de header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/*Geeft regels voor "logo" linksboven*/
.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

/*Geeft regels voor de navbar (gedeelte header)*/
.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.4s;
}

/*Geeft regels voor navbar als je er over hovert en als je klikt*/
.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

/*Geeft regels voor een generale sectie in document*/
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

/*Geeft regels voor een sectie binnen de generale sectie*/
.home-content {
    max-width: 600px;
}

/*Geeft regels voor het h1 element*/
.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

/*Geeft regels voor het h3 element binnen deze sectie*/
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

/*Geeft regels voor het p element binnen deze sectie*/
.home-content p {
    font-size: 14px;
    margin: 20px 0 40px;
}

/*Geeft regels voor het element waarbinnen de knoppen zich bevinden*/
.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

/*Geeft regels voor de knoppen*/
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 9px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5;
}

/*Geeft regels voor de linker knop tijdens het hover er over*/
.btn-box a:hover {
    color: #00abf0;
}

/*Geeft regels voor de rechter knop*/
.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

/*Geeft regels voor de rechter knop bij het hoveren*/
.btn-box a:nth-child(2):hover {
    color: #081b29;
}

/*Geeft regels voor het veranderen van kleur van de rechter knop*/
.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

/*Geeft regels voor het veranderen van de knoppen*/
.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: 0.5s;
}

/*Geeft regels voor het veranderen van de knoppen*/
.btn-box a:hover::before {
    width: 100%;
}

/*Geeft regels voor het element met daarin knopje met links*/
.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

/*Geeft regels voor de links in de sectie*/
.home-sci a {
    overflow: hidden;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    transition: 0.5;
}
/*Geeft de regels voor de socials' knopjes*/
.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: 0.5s;
}
/*Geeft de regels voor de socials' knopjes*/
.home-sci a:hover::before {
    width: 100%;
}
/*Geeft de regels voor de socials' knopjes*/
.home-sci a:hover {
    color: #081b29;
}


.home-content img {
    display: inline-block;
    position: fixed;
}

.img1 {
    border: 5px ridge #00abf0;
    border-radius: 25%;
    left: 52.5%;
    top: 25%;
    height: 500px;
}