/* Import een font van google*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*Past regels aan voor hele document*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*Geeft het document kleur*/
body {
    background: #081b29;
    color: #ededed;
}

main {
    min-height: max-content;
    max-width: 100vw;
    overflow-x: hidden;
}

/*Geeft de regels voor de header || background voor als ik scroll!*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #081b29;
    border-bottom: 1px inset #00abf0;
}

/*Geeft regels voor "logo" linksboven*/
.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    transition: 0.5s;
}

.logo:hover, .logo:active {
    color: #00abf0;
}

/*Geeft regels voor de navbar (gedeelte header)*/
.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.4s;
}

/*Geeft regels voor navbar als je er over hovert en als je klikt*/
.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

/*Geeft regels voor een generale sectie in document*/
.home {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

/*Geeft regels voor een sectie binnen de generale sectie*/
.home-content {
    max-width: 600px;
}

/*Geeft regels voor het h1 element*/
.home-content h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
}

/*Geeft regels voor het h3 element binnen deze sectie*/
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

/*Geeft regels voor het p element binnen deze sectie*/
.home-content p {
    font-size: 14px;
    margin: 20px 0 40px;
    width: 20rem;
}

/*Geeft regels voor het element waarbinnen de knoppen zich bevinden*/
.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

/*Geeft regels voor de knoppen*/
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 9px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.65;
}

/*Geeft regels voor de linker knop tijdens het hover er over*/
.btn-box a:hover {
    color: #00abf0;
}

/*Geeft regels voor de rechter knop*/
.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

/*Geeft regels voor de rechter knop bij het hoveren*/
.btn-box a:nth-child(2):hover {
    color: #081b29;
}

/*Geeft regels voor het veranderen van kleur van de rechter knop*/
.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

/*Geeft regels voor het veranderen van de knoppen*/
.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: 0.65s;
}

/*Geeft regels voor het veranderen van de knoppen*/
.btn-box a:hover::before {
    width: 100%;
}

/*Geeft regels voor het element met daarin knopje met links*/
.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

/*Geeft regels voor de links in de sectie*/
.home-sci a {
    overflow: hidden;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    transition: 0.7;
}
/*Geeft de regels voor de socials' knopjes*/
.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: 0.7s;
}
/*Geeft de regels voor de socials' knopjes*/
.home-sci a:hover::before {
    width: 100%;
}
/*Geeft de regels voor de socials' knopjes*/
.home-sci a:hover {
    color: #081b29;
}

/*regels voor foto op home-pagina*/
.home-content img {
    display: inline-block;
    position: fixed;
    border: 2px inset #00abf0;
    border-radius: 12.5%;
    left: 52.5%;
    top: 25%;
    height: 500px;
}
/*Regels voor main gedeelte van about me*/
.abtme {
    height: 80vh;
    width: 60vw;
    position: relative;
    top: 10vh;
    left: 20vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Regels voor h1 gedeelte van about me*/
.abtme h1 {
    color: #081b29;
    font-size: 42px;
    margin-bottom: 20px;
    padding: 10px;
    border: 3px solid #00abf0;
    background-color: #00abf0;
    border-radius: 20px;
}

.abtme p {
    margin-left: 20px;
}

/*volgende 3 stukjes zorgen er voor dat de tekst rondom de foto kan lopen (maar niet h2)*/
.about-main-content {
    display: flex;
    align-items: center;
}
/* regels voor de tekst in de about me sectie*/
.abtme p {
    font-size: 21px;
    text-align: start;
    flex: 1;
}
/*regels voor de foto in de aobut me sectie*/
.photo1 {
    margin-right: 20px;
    float: left;
    border: 3px solid #00abf0;
    border-radius: 12.5%;
    opacity: 80%;
}


#portdiv1 {
    display: block;
    position: absolute;
    top: 10%;
    left: 50%;
    translate: -50%;
    text-align: center;
}

#portdiv1 h1 {
    text-align: center;
}


.portlist {
    position: absolute;
    top: 7.5%;
    left: 5%;
    width: 90%;
    min-height: max-content;
    overflow-y: visible;

}

.portlist dl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    top: 100px;
    margin-bottom: 5%;
}

dl a {
    text-decoration: none;
    color: white;
}
dd p {
    clear: both;
}

.porttitle {
    align-self: center;
    margin-bottom: 1%;
    margin-right: 25px;
    margin-left: 0.5vw;
}

.pim {
    border: 2px solid #00abf0;
    border-radius: 2rem;
    margin-right: 10px;
    margin-bottom: 1vh;
    margin-top: 1vh;
    float: left;
    justify-self: left;
    min-width: 275px;
    max-width: 25%;
    height: auto;
}

.desc {
    min-width: 100%;
}


#cv-btn {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 35rem;
    left: 12rem;
}

 .btn-style {
    color: #081b29;
    border: 2px solid #00abf0;
    border-radius: 10px;
    background-color: #00abf0;
    transition: 0.3s;
    margin-top: 0.25rem;
}

.btn-style h2{
    font-size: 36px;
    padding: 1rem;
}

.btn-style:hover {
    background-color: transparent;
    color: #00abf0;
}

.popup {
    background: #081b29;
    height: 0vh;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: 1;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}

.popup:target {
    background-color: rgba(46, 46, 46, 0.411);
    display: block;
    opacity: 1;
    height: 100vh;
    width: 100vw;
    left: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
    
}

.popupwrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: max-content;
    width: 40vw;
    background-color: #081b29;
    z-index: 2;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    border: 0.2rem solid #00abf0;
    box-shadow: black 16px 16px 16px;
}

.popupwrapper h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.popupwrapper p {
    margin-top: 2rem;
}


.link2 {
    text-decoration: underline;
    color: #ededed;
}


.cv-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left:20%;
    translate:-50% -50%;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 600;
    width: 30%;
    height: max-content;
}

.cv-text h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.cv-text p {
    text-align: center;
    margin-bottom: 2rem;
}

.link {
    text-decoration: none;
    color: #ededed;
}

.btn-style {
    border: 2px solid #00abf0;
    border-radius: 9px;
    background-color: #00abf0;
    color: #081b29;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;

}

#infobtn {
    position: unset;
    left: 35%;
}

.btn-style:hover {
    background-color: transparent;
    color: #00abf0;
}
.close-btn {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 24px;
    color: #ededed;
    text-decoration: none;
    cursor: pointer;
}

.close-btn:hover {
    color: #00abf0;
}

.imgdiv img {
    position: fixed;
    top: 50%;
    left:55%;
    translate: 0% -50%;
    width: 500px;
    border-radius: 5rem;
    border: 2px solid #00abf0;
}

@media screen and (max-width: 1600px) {

    /* HOME */
    .home-content img {
        height: 300px;

    }

    /* ABOUT ME */

    .about-main-content {
        display: flex;
        align-items: center;
        gap: 10%;
        margin-top: 3%;
    }

    .abtme {
        height: max-content;
        position: relative;
        top: 50vh;
        translate: 0% -50%;
    }


    .abtme h1 {
        color: #081b29;
        font-size: 32px;
        margin-bottom: 20px;
        padding: 10px;
        border: 3px solid #00abf0;
        background-color: #00abf0;
        border-radius: 20px;
    }
    .abtme p {
        font-size: 16px;
        text-align: start;
        flex: 1;
        margin-left: 20px;
    }
    .photo1 {
        width: 40%;
    }

    /* CONTACT */
    .cv-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left:20%;
        translate:-50% -50%;
        font-size: 1rem;
        line-height: 2rem;
        font-weight: 600;
        width: 30%;
        height: max-content;
    }
    
    .cv-text h1 {
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .cv-text p {
        text-align: center;
        margin-bottom: 2rem;
    }
}

/* PORTFOLIO */
.pimnohide {
    display: inline;
    width: 100%;
    border-radius: 1rem;
}


@media screen and (max-width: 1200px) {
    /* ABOUT */

    .about-main-content {
        column-gap: 3%;
    }
    .photo1 {
        width: 375px;
    }


     /* CONTACT */

     .cv-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left:20%;
        translate:-50% -50%;
        font-size: 0.8rem;
        line-height: 2rem;
        font-weight: 600;
        width: 30%;
        height: max-content;
    }
    
    .cv-text h1 {
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .cv-text p {
        text-align: center;
        margin-bottom: 2rem;
    }

    .imgdiv img {
        position: fixed;
        top: 50%;
        left:55%;
        translate: 0% -50%;
        width: 350px;
        border-radius: 5rem;
        border: 2px solid #00abf0;
    }

    .popupwrapper {
        height: max-content;
    }

    .popupwrapper p {
        font-size: 0.8em;
    }

    .popupwrapper h1 {
        font-size: 2em;
        line-height: 1em;
    }
}

/* PORTFOLIO */
.pimnohide {
    display: inline;
    width: 100%;
    border-radius: 1rem;
}

@media screen and (max-width: 850px) {
    /*Geeft de regels voor de header || background voor als ik scroll!*/
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 10%;
        background: transparent;
        display: flex;
        justify-content: space-around;
        column-gap: 0px;
        align-items: center;
        z-index: 100;
        background: transparent;
    }

    /*Geeft regels voor "logo" linksboven*/
    .logo {
        font-size: 16px;
        color: #ededed;
        text-decoration: none;
        font-weight: 600;
        transition: 0.5s;
    }

    .logo:hover, .logo:active {
        color: #00abf0;
    }

    /*Geeft regels voor de navbar (gedeelte header)*/
    .navbar a {
        font-size: 12px;
        color: #ededed;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: 0.4s;
    }

    .navbar a:nth-child(4){
        margin-left: 20px;
    }

    /*Geeft regels voor navbar als je er over hovert en als je klikt*/
    .navbar a:hover,
    .navbar a.active {
        color: #00abf0;
    }

    .home-content img {
        display: inline;
        opacity: 70%;
        z-index: -4;
        position: fixed;
        border: 2px inset #00abf0;
        border-radius: 12.5%;
        left: 50%;
        top: 31%;
        translate: -50% -50%;
        height: 200px;
    }

    /*Geeft regels voor een sectie binnen de generale sectie*/
    .home-content {
        position: fixed;
        top: 50%;
        max-width: 100%;
        height: max-content;
    }

    /*Geeft regels voor het h1 element*/
    .home-content h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.2;
    }

    /*Geeft regels voor het h3 element binnen deze sectie*/
    .home-content h3 {
        font-size: 24px;
        font-weight: 700;
        color: #00abf0;
    }

    /*Geeft regels voor het p element binnen deze sectie*/
    .home-content p {
        font-size: 14px;
        margin: 10px 0 20px;
        width: 20rem;
    }

    /*Geeft regels voor het element waarbinnen de knoppen zich bevinden*/
    .home-content .btn-box {
        position: inherit;
        display: flex;
        justify-content: space-between;
        width: 325px;
        height: 35px;
        align-self: flex-start;
        padding-right: 20px;
    }

    /*Geeft regels voor de knoppen*/
    .btn-box a {
        position: relative;
        display: inline-flex;
        justify-content: space;
        align-items: center;
        width: 150px;
        height: 100%;
        background: #00abf0;
        border: 2px solid #00abf0;
        border-radius: 9px;
        font-size: 15px;
        color: #081b29;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
        overflow: hidden;
        transition: 0.65;
    }

    /* ABOUT */
    .abtme {
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        position: absolute;
        font-size: 12px;
        width: 300px;
    }

    .abtme h1 {
        font-size: 24px;
    }

    .abtme p{
        font-size: 12px;
    }

    .about-main-content {
        column-gap: 3%;
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        align-content: center;
        row-gap: 1rem;
        line-height: 1.25rem;
        font-size: 0.6rem;
        width: 800px;
    }
    .photo1 {
        display: none;
        width: 250px;
        opacity: 50%;

    }



    /* PORTFOLIO */

    .portdiv1 {
        top: 15%;
    }

    .pim {
        display: none;
    }

    .pimnohide {
        display: inline;
        width: 100%;
        border-radius: 1rem;
        width: 10px;
    }

    .portlist dl {
        font-size: 0.8rem;
    }

    .mainh1 {
        font-size: 24px;
        
    }

     /* CONTACT */

     .cv-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        translate:-50% -50%;
        font-size: 0.8rem;
        line-height: 2rem;
        font-weight: 600;
        width: 80%;
        height: max-content;
    }
    
    .cv-text h1 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .cv-text p {
        text-align: center;
        margin-bottom: 2rem;
    }

    .imgdiv img {
        display: none;
        position: fixed;
        top: 50%;
        left:55%;
        translate: 0% -50%;
        width: 400px;
        border-radius: 5rem;
        border: 2px solid #00abf0;
    }

    .popupwrapper{
        height: max-content;
        width: max-content;
    }

    .popupwrapper p {
        font-size: 0.8em;
    }

    .popupwrapper h1 {
        font-size: 2em;
        line-height: 1em;
    }    
}

@media screen and (max-width: 600px) {
    /*Geeft de regels voor de header || background voor als ik scroll!*/
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 10%;
        background: transparent;
        display: flex;
        justify-content: space-around;
        column-gap: 0px;
        align-items: center;
        z-index: 100;
        background: #081b29;
        border-bottom: 2px inset #00abf0;
    }

    /*Geeft regels voor "logo" linksboven*/
    .logo {
        font-size: 16px;
        color: #ededed;
        text-decoration: none;
        font-weight: 600;
        transition: 0.5s;
    }

    .logo:hover, .logo:active {
        color: #00abf0;
    }

    /*Geeft regels voor de navbar (gedeelte header)*/
    .navbar a {
        font-size: 12px;
        color: #ededed;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: 0.4s;
    }

    .navbar a:nth-child(4){
        margin-left: 20px;
    }

    /*Geeft regels voor navbar als je er over hovert en als je klikt*/
    .navbar a:hover,
    .navbar a.active {
        color: #00abf0;
    }

    .home-content img {
        display: inline;
        opacity: 70%;
        z-index: -4;
        position: fixed;
        border: 2px inset #00abf0;
        border-radius: 12.5%;
        left: 50%;
        top: 31%;
        translate: -50% -50%;
        height: 200px;
    }

    /*Geeft regels voor een sectie binnen de generale sectie*/
    .home-content {
        position: fixed;
        top: 50%;
        max-width: 100%;
        height: max-content;
    }

    /*Geeft regels voor het h1 element*/
    .home-content h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.2;
    }

    /*Geeft regels voor het h3 element binnen deze sectie*/
    .home-content h3 {
        font-size: 24px;
        font-weight: 700;
        color: #00abf0;
    }

    /*Geeft regels voor het p element binnen deze sectie*/
    .home-content p {
        font-size: 14px;
        margin: 10px 0 20px;
        width: 20rem;
    }

    /*Geeft regels voor het element waarbinnen de knoppen zich bevinden*/
    .home-content .btn-box {
        position: inherit;
        display: flex;
        justify-content: space-between;
        width: 325px;
        height: 35px;
        align-self: flex-start;
        padding-right: 20px;
    }

    /*Geeft regels voor de knoppen*/
    .btn-box a {
        position: relative;
        display: inline-flex;
        justify-content: space;
        align-items: center;
        width: 150px;
        height: 100%;
        background: #00abf0;
        border: 2px solid #00abf0;
        border-radius: 9px;
        font-size: 15px;
        color: #081b29;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
        overflow: hidden;
        transition: 0.65;
    }

    /* ABOUT */
    .abtme {
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        position: absolute;
        font-size: 12px;
        width: 300px;
    }

    .abtme h1 {
        font-size: 24px;
    }

    .abtme p{
        font-size: 12px;
    }

    .about-main-content {
        column-gap: 3%;
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        align-content: center;
        row-gap: 1rem;
        line-height: 1.25rem;
        font-size: 0.6rem;
    }
    .photo1 {
        display: none;
        width: 250px;
        opacity: 50%;

    }



    /* PORTFOLIO */

    #portdiv1 {
        position: absolute;
        top: 15%;
    }

    .pim {
        display: none;
    }

    .pimnohide {
        display: inline;
        width: 100%;
        border-radius: 1rem;
        width: 10px;
    }

    .portlist dl {
        font-size: 0.8rem;
    }

    .mainh1 {
        font-size: 20px;
    }

    dt a {
        font-size: 16px;
    }

    dd p {
        font-size: 12px;
    }

     /* CONTACT */

     .cv-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        translate:-50% -50%;
        font-size: 0.8rem;
        line-height: 2rem;
        font-weight: 600;
        width: 80%;
        height: max-content;
    }
    
    .cv-text h1 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .cv-text p {
        text-align: center;
        margin-bottom: 2rem;
    }

    .imgdiv img {
        display: none;
        position: fixed;
        top: 50%;
        left:55%;
        translate: 0% -50%;
        width: 400px;
        border-radius: 5rem;
        border: 2px solid #00abf0;
    }

    .popupwrapper{
        height: max-content;
        width: max-content;
    }

    .popupwrapper p {
        font-size: 0.8em;
    }

    .popupwrapper h1 {
        font-size: 2em;
        line-height: 1em;
    }    
}

@media screen and (max-width: 400px) {
    /*Geeft de regels voor de header || background voor als ik scroll!*/

    .home {
        overflow-y: hidden;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 10%;
        background: transparent;
        display: flex;
        justify-content: space-around;
        column-gap: 0px;
        align-items: center;
        z-index: 100;
        background: #081b29;
        border-bottom: 2px inset #00abf0;
    }

    /*Geeft regels voor "logo" linksboven*/
    .logo {
        font-size: 16px;
        color: #ededed;
        text-decoration: none;
        font-weight: 600;
        transition: 0.5s;
    }

    .logo:hover, .logo:active {
        color: #00abf0;
    }

    /*Geeft regels voor de navbar (gedeelte header)*/
    .navbar a {
        font-size: 12px;
        color: #ededed;
        text-decoration: none;
        font-weight: 500;
        margin-left: 35px;
        transition: 0.4s;
    }

    .navbar a:nth-child(4){
        margin-left: 20px;
    }

    /*Geeft regels voor navbar als je er over hovert en als je klikt*/
    .navbar a:hover,
    .navbar a.active {
        color: #00abf0;
    }

    .home-content img {
        display: inline;
        opacity: 70%;
        z-index: -4;
        position: fixed;
        border: 2px inset #00abf0;
        border-radius: 12.5%;
        left: 50%;
        top: 35%;
        translate: -50% -50%;
        height: 200px;
    }

    /*Geeft regels voor een sectie binnen de generale sectie*/
    .home-content {
        position: fixed;
        top: 52.5%;
        max-width: 100%;
        height: max-content;
    }

    /*Geeft regels voor het h1 element*/
    .home-content h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.2;
    }

    /*Geeft regels voor het h3 element binnen deze sectie*/
    .home-content h3 {
        font-size: 24px;
        font-weight: 700;
        color: #00abf0;
    }

    /*Geeft regels voor het p element binnen deze sectie*/
    .home-content p {
        font-size: 14px;
        margin: 10px 0 20px;
        width: 20rem;
    }

    /*Geeft regels voor het element waarbinnen de knoppen zich bevinden*/
    .home-content .btn-box {
        position: inherit;
        display: flex;
        justify-content: space-between;
        width: 325px;
        height: 35px;
        align-self: flex-start;
        padding-right: 20px;
    }

    /*Geeft regels voor de knoppen*/
    .btn-box a {
        position: relative;
        display: inline-flex;
        justify-content: space;
        align-items: center;
        width: 150px;
        height: 100%;
        background: #00abf0;
        border: 2px solid #00abf0;
        border-radius: 9px;
        font-size: 15px;
        color: #081b29;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
        overflow: hidden;
        transition: 0.65;
    }

    /* ABOUT */
    .abtme {
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        position: absolute;
        font-size: 12px;
        width: 300px;
    }

    .abtme h1 {
        font-size: 24px;
    }

    .abtme p{
        font-size: 12px;
    }

    .about-main-content {
        column-gap: 3%;
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        align-content: center;
        row-gap: 1rem;
        line-height: 1.25rem;
        font-size: 0.6rem;
        width: 300px;
    }
    .photo1 {
        display: none;
        width: 250px;
        opacity: 50%;

    }



    /* PORTFOLIO */

    .portfolio-main-content {
        display: block;
        position: absolute;
        top: 5%;
        left: 0;
        min-height: 100%;
        width: 100%;
    }

    #portdiv1 {
        position: absolute;
        top: 15%;
    }

    .pim {
        display: none;
    }

    .pimnohide {
        display: inline;
        width: 100%;
        border-radius: 1rem;
        width: 10px;
    }

    .portlist dl {
        font-size: 0.8rem;
    }

    .mainh1 {
        font-size: 20px;
    }

    dt a {
        font-size: 16px;
    }

    dd p {
        font-size: 12px;
    }

     /* CONTACT */

     .cv-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        translate:-50% -50%;
        font-size: 0.8rem;
        line-height: 2rem;
        font-weight: 600;
        width: 80%;
        height: max-content;
    }
    
    .cv-text h1 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .cv-text p {
        text-align: center;
        margin-bottom: 2rem;
    }

    .imgdiv img {
        display: none;
        position: fixed;
        top: 50%;
        left:55%;
        translate: 0% -50%;
        width: 400px;
        border-radius: 5rem;
        border: 2px solid #00abf0;
    }

    .popupwrapper{
        height: max-content;
        width: max-content;
    }

    .popupwrapper p {
        font-size: 0.8em;
    }

    .popupwrapper h1 {
        font-size: 2em;
        line-height: 1em;
    }    
}